main {
    height: calc(100vh - 70px - 50px);
    overflow-y: auto;

    .container {
        max-width: 1200px;
        padding: 20px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .card {
            @include album_card;
            @include media($tablet) {
                width: calc(100% / 3);
            }
            @include media($smartphone) {
                width: calc(100% / 2);
            }
            @include media($small_screen) {
                width: calc(100%);
            }
        }
    }
}
